body {
  background-color: white;
}

.hide  {
  display: none;
}
.car {
  width: 50px;
  height: 100px;
  background: transparent url(../image/player.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 125px;
  bottom: 10px;
}

.gameArea {
  width: 300px;
  height: 100%;
  position: relative;
  margin: auto;
  background: #222222;
}
.line {
  position: absolute;
  width: 10px;
  height: 50px;
  background-color: white;
}